{% extends "admin/change_form.html" %}
{% block title %}Load questionnaire from file | Django site admin{% endblock %}
{% block content %}
<form enctype="multipart/form-data" method="post" action="">
    {% csrf_token %}
    <div id='content-main'>
        <fieldset class='module aligned'>
            <div class='form-row'>
                {{ form.as_p }}
            </div>
        </fieldset>
        <div class='submit-row'>
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>
{% endblock %}
